.tickets_search {
  margin: 2em;
}

#search_bar{
  font-size: 13px;
  border-radius: 0.5em;
  background-color: #333537;
  border: none;
  color: #ffffff;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 1em;
  padding-right: 1em;

  width: 18%;
  background-image: url("../assets/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

#search_bar:focus {
  outline: none;
}

select{
  background-color: #333537;
  color: white;
  border: none;
}

select:focus{
  outline: none;
}

option:checked{
  background-color: #333537;
}

.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.add_filter {
  background-color: #333537;
  font-size: 13px;
  border-radius: 0.5em;
  border: none;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
}

.add_filter:hover {
  cursor: pointer;
}

input[type=text]::-webkit-input-placeholder {
  color: #ffffff;
}

.create_ticket {
  font-weight: 400;
  margin-left: 21em;
  border-radius: 0.5em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;

  color: #000000;
  background-color: #82B7DC;
  border: 1px solid #82B7DC;
}

.tickets_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2em;
  font-size: 1em;
  font-weight: bold;
}

thead {
  color: #5C6165;
  text-align: left;
  height: 3em;
  padding: 0.5em 1em;
}

thead td {
  padding-bottom: 0.7em;
}

td {
  padding: 1.5em 4em;
  border-bottom: 0.5px solid #5C6165;
}

tr:not(thead) {
  cursor: pointer;
}

.tickets_id {
  width: 13%;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.tickets_status_open {
  padding-left: 0.5em;
  color: #84C596;
}

.tickets_status_assigned {
  padding-left: 0.5em;
  color: #FFC277;
}

.tickets_status_closed {
  padding-left: 0.5em;
  color: #F8888B;
}

.tickets_assignee {
  width: 17%;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.tickets_description {
  width: 75%;
}

.tickets_description_title {
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0.25em;
}

.tickets_description_department,
.tickets_description_client {
  font-size: 10px;
  color: #5C6165;
}

.tickets_description_details {
  display: flex;
  flex-direction: row;
}

.tickets_description_department {
  margin-right: 0.5em;
}

.tickets_description_department::after {
  content: "•";
  margin-left: 0.5em;
  font-size: 0.7em;
}