#tickets_search{
  display: flex;
  flex-direction: row;
  margin:2em;
}

#search_bar{
  background-color: #333537;
  color: #ffffff;
  border: none;
  border-radius: 0.5em;
  background-image: url("../assets/icons/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  font-size: 13px;

  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
}

#search_bar:focus{
  outline: none;
}

#show_filter{
  width: 3em;
  height: 3em;

  background-color: #333537;
  border: none;
  border-radius: 0.5em;
  margin-left: 1em;
}

#show_filter img{
  width: 1.8em;
  height: 1.8em;
}

#show_filter:hover{
  cursor: pointer;
  background-color: #232425;
}

#create_ticket{
  margin-left: auto;
  background-color: #82B7DC;
  color: #ffffff;
  border: none;
  border-radius: 0.5em;
  font-size: 13px;
  font-weight: 400;

  padding: 1em;
  cursor: pointer;
}

#filter_row{
  display: flex;
  flex-direction: row;
  margin: 1.5em;
  margin-top: 1em;
}

.add_filter{
  background-color: #333537;
  font-size: 13px;
  border-radius: 0.5em;
  border: none;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  color: #ffffff;
}

select:focus{
  outline: none;
}

.add_filter:hover {
  cursor: pointer;
}

.tickets_table{
  color: #ffffff; /*only for now*/
  width: 100%;
  margin-top: 2em;
  font-size: 0.9em;
  border-collapse: collapse;
}

thead{
  color: #5C6165;
  text-align: left;
  height: 3em;
  padding: 0.5em 1em;
}

td{
  border-bottom: 0.5px solid #5C6165;
}

tr:not(thead) {
  cursor: pointer;
}

.tickets_id {
  width: 13%;
}

.tickets_assignee {
  width: 17%;
}

.tickets_status_open {
  padding-left: 0.5em;
  color: #84C596;
}

.tickets_status_assigned {
  padding-left: 0.5em;
  color: #FFC277;
}

.tickets_status_closed {
  padding-left: 0.5em;
  color: #F8888B;
}

.tickets_description {
  width: 75%;
}

.tickets_description_department,
.tickets_description_client,
.ticket_description_priority {
font-size: 10px;
color: #5C6165;
display: inline;
}


@media screen and (min-width: 1000px){
  #search_bar{
      width: 20%;
  }

  td {
      padding: 1.5em 3em;
  }
}

@media screen and (max-width: 1000px){
  #search_bar{
      width: 35%;
  }
  td {
      padding: 1.5em 0.8em;
  }
}
