a {
    text-decoration: none;
    color: #ffffff;
}

.member_photo {
    width: 1.7em;
    height: 1.7em;
    border-radius: 25px;
}

.more_members{
    min-width: fit-content;
    height: auto;

    border-radius: 25px;
    background-color: #82B7DC;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

.create_department {
    border: 1px solid #333537;

    width: 15em;
    height: 15em;
    margin: 1em;
    border-radius: 15px;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

.create_department a img {
    display: block;
    height: 40%;
    margin-left: 25%;
    margin-top: 2em;
}

.create_department a span {
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: 360;
    display: block;
}

.department_card {
    background-color: #333537;
    width: 15em;
    height: 15em;
    margin: 1em;
    border-radius: 15px;
    padding: 1em;

    display: flex;
    flex-direction: column;
    margin-top: 4em;
}

.department_card a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.department_card .more_options {
    align-self: flex-end;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2em;
}

.more_options {
    height: 1em;
}

.department_name span {
    font-size: 1.5em;
}

.department_name img {
    height: 1.4em;
}

.members_photos {
    display: flex;
    margin-top: 1em;
}

@media screen and (max-width: 1000px) {
    main {
        justify-content: center;
    }
}