#search_bar{
    font-size: 13px;
    border-radius: 0.5em;
    background-color: #333537;
    border: none;
    color: #ffffff;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
  
    width: 18%;
    background-image: url("../assets/icons/search-icon.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.search {
    margin: 2em;
}

input[type=text]::-webkit-input-placeholder {
    color: #ffffff;
}

#search_bar:focus {
    outline: none;
}

tr{
    cursor: pointer;
}

select:focus{
    outline: none;
}

option:checked{
    background-color: #333537;
}

.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.add_filter {
    background-color: #333537;
    color: white;
    font-size: 13px;
    border-radius: 0.5em;
    border: none;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
}
  
.add_filter:hover {
    cursor: pointer;
}

.members_table{
    border-collapse: collapse;
    width: 100%;
}

.table_profile_pic{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 1em;
}

thead {
    color: #5C6165;
    text-align: left;
    height: 3em;
    padding: 0.5em 1em;
    font-weight: 600;
}

td {
    padding: 1.5em 4em;
    border-bottom: 0.5px solid #5C6165;
}

.member_name{
    color: white;
    font-size: 14px;
    font-weight: 400;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user_details a{
    text-decoration: none;
    font-size: 10px;
    color: #5C6165;
    margin-top: 0.4em;
}

.member_username{
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.member_role{
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.member_department{
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.member_email a{
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.member_action a{
    text-decoration: none;
}

.action_icons{
    width: 1em;
    text-decoration: none;
}

#name_sort{
    cursor: pointer;
}

#username_sort{
    cursor: pointer;
}

#role_sort{
    cursor: pointer;
}

#department_sort{
    cursor: pointer;
}