#notification_container{
    margin-top: 2em;
}

.notification{
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #232526;
    border-radius: 0.5em;
    margin-bottom:  1.6em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 90%;

    margin-left: auto;
    margin-right: auto;
}

.notification_details{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notification_profile_pic {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    padding-left: 0.5em;
}

.notification_unread{
    background-color: #82B7DC;
    width: 0.2em;
    height: 2.8em;
    margin-right: 0em;
}

.notification_delete img{
    width: 1em;
}

.notification_read img{
    width: 1em;
}

.notification_time{
    margin-left: auto;
    margin-right: 1em;
    font-size: 0.8em;
}

.notification a:first-of-type{
    text-decoration: none;
    color:white;
}

.notification_name{
    margin-left: 1.8em;
}

.notification_text{
    margin-left: 3em;    
}

.notification_time{
    font-size: 0.8em;
    display: flex;
    
}

.notification_delete{
    margin-right: 1em;
}

.notification_final{
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

@media screen and (max-width: 1000px){
    .notification_name{
        display: none;
    }

    .notification_time{
        display: none;
    }
}