.profile-pic {
    display: flex;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: 1em;
}

.profile-pic img {
    width: 9.625em;
    height: 9.625em;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-details {
    text-align: center;
    color: #ffffff;
}

.user-details h2 {
    font-size: 2.2em;
    font-weight: 400;
    margin-bottom: 0.20em;
}

.user-details h3 {
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 1.4em;
}

.edit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-form {
    display: flex;
    flex-direction: row;

    background-color: #333537;
    width: 33%;
    min-width: fit-content;

    height: 1.7%;
    border-radius: 10px;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.04em;
    padding-bottom: 0.01em;

    margin-bottom: 20px;
    margin-left: 32.5%;
}

.edit-form input {
    background: transparent;
    width: 20em;
    color: #ffffff;
    border: none;
    font-size: 13px;
    margin-top: 1.8%;
    height: fit-content;
    position: relative;
    top: 0.4em;
}

.edit-form button {
    border: none;
    background-color: transparent;
    width: 7%;
    position: relative;
    top: -1.2em;
    left: 30em;
}

.edit-icon {
    cursor: pointer;
}

.change-profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#file-label,
#upload-btn {
    display: inline-block;
    vertical-align: middle;
    border: none;
}

#file-label {
    width: 15em;
    height: 1.3em;
    padding: 10px;
    font-size: 13px;
    background-color: #333537;
    color: #ffffff;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    text-align: center;
}

#upload-btn {
    width: 17.5em;
    height: 2.85em;
    padding: 10px;
    margin-left: 0;
    margin-top: 0;
    font-size: 13px;
    border-radius: 0 10px 10px 0;
    background-color: #82B7DC;
    color: #000000;
    cursor: pointer;
    text-align: center;
}

#upload-btn:hover {
    background-color: #97cff7;
    color: #000000;
}

.logout button {
    position: absolute;
    bottom: 2.5em;
    right: 3em;
    cursor: pointer;

    border: none;
    font-weight: 400;
    margin-left: 50em;
    border-radius: 0.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 1em;
    padding-right: 1em;

    color: #000000;
    background-color: #82B7DC;
}

.logout button:hover {
    background-color: #97cff7;
    color: #000000;
}

#role-form{
    background-color: #333537;
    border: none;
    border-radius: 1em;
    cursor: pointer;

    width: 15%;
    height: 2.85em;

    margin-top: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
}


#role-form select{
    background-color: transparent;
    border: none;
    margin-left: 50%;
    transform: translateX(-50%);

    position: relative;
    top: 0.7em;
    color: white;
}