@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    background-color: #111111;
    font-family: 'Lato', sans-serif;
    color: white;
}

header {
    margin-top:2.5rem;
    margin-left: 4rem;
}

.register_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.register_container h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0;
    padding-left: 37.5%;
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 400;
}
  
.register_container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register_container input[type="text"],
.register_container input[type="password"]{
  border-radius: 20px;
  color: black;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 200%;
  border: none;
  outline: none;
}

.register_container button[type="submit"]{
  background-color: #82B7DC;
  color: white;
  border-radius: 20px;
  padding: 1rem;
  margin-top: 1rem;
  width: 220%;
  cursor: pointer;
}



.register_container button[type="submit"]:hover{
  background-color: #006699;
}

.register_container p {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.register_container p a {
  color: #82B7DC;
  text-decoration: none;
}

.error_msg{
  padding-bottom: 1.5em;  
  color: #9d2219;
}

.error_box{
  border: 3.1px solid #9d2219;
}