@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: 100%;
}

.menu{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #000000;
    height: 100%;
}

.main_content{
    grid-column-start: 2;
    grid-column-end: 7;
    background-color: #111111;
    height: 100%;
    overflow-y: scroll;
}

.logo {
  width: 70%;
  height: auto;
  margin-left: 2em;
  margin-top: 2em;
  text-align: center;
}

nav {
  margin-top: 10%;
  margin-left: 4em;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 1em;
}

.tickets-menu{
  text-decoration: none;
}

.tickets-icon{
  position: relative;
  top: 0.30em;
  margin-right: 0.1em;
}

.faq-menu{
  text-decoration: none;
}

.faq-icon{
  position: relative;
  top: 0.45em;
  margin-right: 0.1em;
}

.notifications-menu{
  text-decoration: none;
}

.notifications-icon{
  position: relative;
  top: 0.25em;
  margin-right: 0.1em;
}

.profile {
    color: white;
    margin-top: 21em;
    margin-bottom: 0;
    margin-left: 2em;
}

.profile_link{
  text-decoration: none;
}

.profile img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  margin-right: 0.6em;
  position: relative;
  bottom: 0.5em;
}

.profile .profile_name {
  font-size: 17;
  position: relative;
  bottom: 2em;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
}

/*Making the scrollbar prettier*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #35353e;
}

::-webkit-scrollbar-thumb {
  background: #5c5e6c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ACACBE;
}
