@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100%;
}

.menu {
  background-color: #000000;
  height: 100%;
}

nav a {
  text-decoration: none;
}

.profile {
  color: white;
  margin-left: 2em;
}

.profile img {
  border-radius: 50%;
}

.profile .profile_name {
  position: relative;
  bottom: 2em;
}

.main_content {
  background-color: #111111;
  height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #35353e;
}

::-webkit-scrollbar-thumb {
  background: #5c5e6c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ACACBE;
}

@media screen and (min-width: 1310px) {
  body {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  menu {
    grid-column-start: 1;
    grid-column-end: 2;
    overflow-x: hidden;
  }

  .main_content {
    grid-column-start: 2;
    grid-column-end: 7;
  }

  .logo {
    width: 70%;
    height: auto;
    margin: 2em;
    text-align: center;
  }

  .menu-icon {
    top: 0.17em;
    margin-right: 0.1em;
    width: 1.5em;
    height: 1.5em;
  }

  nav a {
    display: block;
    padding: 1em;
  }

  nav {
    margin-top: 10%;
    margin-left: 4em;
  }

  .profile {
    position: absolute;
    bottom: 0;
  }

  .profile img {
    width: 4em;
    height: 4em;
    margin-right: 0.6em;
    margin-top: auto;
  }
}

@media screen and (max-width: 1309px) and (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  menu {
    grid-column-start: 1;
    grid-column-end: 2;
    overflow-x: hidden;
  }

  .main_content {
    grid-column-start: 2;
    grid-column-end: 7;
  }

  .logo {
    width: 70%;
    height: auto;
    margin: 2em;
    text-align: center;
  }

  .menu-icon {
    top: 0.17em;
    margin-right: 0.1em;
    width: 1.5em;
    height: 1.5em;
  }

  nav a {
    display: block;
    padding: 1em;
  }

  nav {
    margin-top: 10%;
    margin-left: 30%;
  }

  .menu-text {
    display: none;
  }

  .profile {
    position: absolute;
    bottom: 0;
  }

  .profile_name {
    display: none;
  }

  .profile img {
    width: 4em;
    height: 4em;
    margin-top: auto;
  }
}

@media screen and (max-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr;
  }

  .main_content {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .menu {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .logo {
    display: none;
  }

  .menu-text {
    display: none;
  }

  .menu-icon {
    width: 2em;
    padding-right: 1em;
  }

  .profile_name {
    display: none;
  }

  .profile img {
    width: 3em;
    height: 3em;
  }
}