@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: 100%;
}

.menu{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #000000;
    height: 100%;
}

.main_content{
    grid-column-start: 2;
    grid-column-end: 7;
    background-color: #111111;
    height: 100%;
    overflow-y: scroll;
}

.logo {
  width: 70%;
  height: auto;
  margin-left: 2em;
  margin-top: 2em;
  text-align: center;
}

nav {
  margin-top: 10%;
  margin-left: 4em;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 1em;
}

.tickets-menu{
  text-decoration: none;
  color: white;
}

.tickets-icon{
  position: relative;
  top: 0.30em;
  margin-right: 0.1em;
}

.faq-menu{
  color: #808080;
  text-decoration: none;
}

.faq-icon{
  position: relative;
  top: 0.45em;
  margin-right: 0.1em;
}

.notifications-menu{
  color: #808080;
  text-decoration: none;
}

.notifications-icon{
  position: relative;
  top: 0.25em;
  margin-right: 0.1em;
}

.profile {
    color: white;
    margin-top: 21em;
    margin-bottom: 0;
    margin-left: 2em;
}

.profile_link{
  text-decoration: none;
}

.profile img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  margin-right: 0.6em;
  position: relative;
  bottom: 0.5em;
}

.profile .profile_name {
  font-size: 17;
  position: relative;
  bottom: 2em;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
}

.tickets_search{
    margin: 2em;
}

.input_box{
    font-size: 13px;
    border-radius: 0.5em;
    background-color: #333537;
    border: none;
    color: #ffffff;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
}

.input_box:first-child {
  width: 18%;
  background-image: url("../assets/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.input_box:nth-child(2)::after{
  content: url("../assets/add-icon.svg");
  margin-left: 1em;
}

.input_box:nth-child(2):hover{
  cursor: pointer;
}

.input_box:focus{
    outline: none;
}

input[type=text]::-webkit-input-placeholder {
    color: #ffffff;
}

.tickets_search > *:first-child{
    margin-right: 1em;
}

.tickets_search > *:last-child{
    font-weight: 600;
    margin-left: 50em;
    border-radius: 0.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 1em;
    padding-right: 1em;

    color: #ffffff;
    background-color: #82B7DC;
    border: 1px solid #82B7DC;
}
.tickets_search > *:last-child:hover{
  background-color: #6289a4;
  border: 1px solid #6289a4;
  cursor: pointer;
}

.tickets_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2em;
  font-size: 1em;
  font-weight: bold;
}

.tickets_header {
  color: #5C6165;
  text-align: left;
  height: 3em;
  padding: 0.5em 1em;
}

.tickets_header td{
  padding-bottom: 0.7em;
}

td {
  padding: 1.5em 4em;
  border-bottom: 0.5px solid #5C6165;
}

.tickets_id {
  width: 10%;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.tickets_id::after{
  content: "•";
  color: #FFC277;
  margin-left: 0.5em;
}

.tickets_assignee {
  width: 15%;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.tickets_description {
  width: 75%;
}

.tickets_description_title {
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0.25em;
}

.tickets_description_department,
.tickets_description_client {
  font-size: 10px;
  color: #5C6165;
}

.tickets_description_details{
  display: flex;
  flex-direction: row;
}

.tickets_description_department{
  margin-right: 0.5em;
}

.tickets_description_department::after{
  content: "•";
  margin-left: 0.5em;
  font-size: 0.7em;
}

/*Making the scrollbar prettier*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #35353e;
}

::-webkit-scrollbar-thumb {
  background: #5c5e6c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ACACBE;
}
/* */